.exchange-section{
    display: flex;
    justify-content: space-around;
    width: 800px;
    border: 2px solid rgb(238, 0, 0);
    background: greenyellow;
}

.currency-content{
    width: 150px;
    border: 2px solid black;
}
.currency-content {
    padding-left: 10px;
}